In [6]:
import pandas as pd
path=r"D:\PycharmProjects\tusharetest\tushareTest\data\todayAll\20180109152157.csv"
# D:\PycharmProjects\tusharetest\tushareTest\data\todayAll
# D:\PycharmProjects\tusharetest\pynodebook\pandasTest
data = pd.read_csv(path)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>code</th>
      <th>name</th>
      <th>changepercent</th>
      <th>trade</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>settlement</th>
      <th>volume</th>
      <th>turnoverratio</th>
      <th>amount</th>
      <th>per</th>
      <th>pb</th>
      <th>mktcap</th>
      <th>nmc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>603999</td>
      <td>读者传媒</td>
      <td>0.516</td>
      <td>7.79</td>
      <td>7.76</td>
      <td>7.82</td>
      <td>7.72</td>
      <td>7.75</td>
      <td>1805960.0</td>
      <td>0.78384</td>
      <td>1.404330e+07</td>
      <td>26.862</td>
      <td>2.690</td>
      <td>4.487040e+05</td>
      <td>1.794816e+05</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>603998</td>
      <td>方盛制药</td>
      <td>2.487</td>
      <td>11.95</td>
      <td>11.57</td>
      <td>12.10</td>
      <td>11.57</td>
      <td>11.66</td>
      <td>2531654.0</td>
      <td>0.59541</td>
      <td>3.019175e+07</td>
      <td>74.688</td>
      <td>5.152</td>
      <td>5.149691e+05</td>
      <td>5.081101e+05</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>603997</td>
      <td>继峰股份</td>
      <td>0.091</td>
      <td>11.05</td>
      <td>11.08</td>
      <td>11.09</td>
      <td>10.76</td>
      <td>11.04</td>
      <td>3411340.0</td>
      <td>1.99494</td>
      <td>3.727855e+07</td>
      <td>18.729</td>
      <td>4.221</td>
      <td>6.961500e+05</td>
      <td>1.889550e+05</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>603996</td>
      <td>中新科技</td>
      <td>-0.447</td>
      <td>17.80</td>
      <td>17.90</td>
      <td>17.93</td>
      <td>17.68</td>
      <td>17.88</td>
      <td>2157961.0</td>
      <td>2.08953</td>
      <td>3.842472e+07</td>
      <td>45.641</td>
      <td>3.762</td>
      <td>5.342670e+05</td>
      <td>1.838295e+05</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>603993</td>
      <td>洛阳钼业</td>
      <td>-0.822</td>
      <td>7.24</td>
      <td>7.32</td>
      <td>7.40</td>
      <td>7.17</td>
      <td>7.30</td>
      <td>158468094.0</td>
      <td>1.22334</td>
      <td>1.149926e+09</td>
      <td>120.667</td>
      <td>4.195</td>
      <td>1.563785e+07</td>
      <td>9.378501e+06</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3478 entries, 0 to 3477
Data columns (total 16 columns):
Unnamed: 0       3478 non-null int64
code             3478 non-null int64
name             3478 non-null object
changepercent    3478 non-null float64
trade            3478 non-null float64
open             3478 non-null float64
high             3478 non-null float64
low              3478 non-null float64
settlement       3478 non-null float64
volume           3478 non-null float64
turnoverratio    3478 non-null float64
amount           3478 non-null float64
per              3478 non-null float64
pb               3478 non-null float64
mktcap           3478 non-null float64
nmc              3478 non-null float64
dtypes: float64(13), int64(2), object(1)
memory usage: 434.8+ KB

In [12]:
data.code.head(10)

0    603999
1    603998
2    603997
3    603996
4    603993
5    603991
6    603990
7    603989
8    603988
9    603987
Name: code, dtype: int64

In [22]:
data1=data.sort_values(by=['code'],ascending=[False])
data1.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>code</th>
      <th>name</th>
      <th>changepercent</th>
      <th>trade</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>settlement</th>
      <th>volume</th>
      <th>turnoverratio</th>
      <th>amount</th>
      <th>per</th>
      <th>pb</th>
      <th>mktcap</th>
      <th>nmc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3411</th>
      <td>3411</td>
      <td>900951</td>
      <td>*ST大化B</td>
      <td>0.000</td>
      <td>0.832</td>
      <td>0.828</td>
      <td>0.847</td>
      <td>0.825</td>
      <td>0.832</td>
      <td>172900.0</td>
      <td>0.17290</td>
      <td>1.435850e+05</td>
      <td>-2.600</td>
      <td>1.190</td>
      <td>2.288000e+04</td>
      <td>8.320000e+03</td>
    </tr>
    <tr>
      <th>3412</th>
      <td>3412</td>
      <td>900930</td>
      <td>*ST沪普B</td>
      <td>-1.289</td>
      <td>0.689</td>
      <td>0.700</td>
      <td>0.700</td>
      <td>0.688</td>
      <td>0.698</td>
      <td>131300.0</td>
      <td>0.10521</td>
      <td>9.072700e+04</td>
      <td>-0.558</td>
      <td>0.423</td>
      <td>2.633533e+04</td>
      <td>8.598720e+03</td>
    </tr>
    <tr>
      <th>3413</th>
      <td>3413</td>
      <td>900921</td>
      <td>*ST丹科B</td>
      <td>0.000</td>
      <td>0.469</td>
      <td>0.470</td>
      <td>0.470</td>
      <td>0.463</td>
      <td>0.469</td>
      <td>127200.0</td>
      <td>0.06564</td>
      <td>5.932000e+04</td>
      <td>-2.449</td>
      <td>0.247</td>
      <td>4.767499e+04</td>
      <td>9.088920e+03</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>603999</td>
      <td>读者传媒</td>
      <td>0.516</td>
      <td>7.790</td>
      <td>7.760</td>
      <td>7.820</td>
      <td>7.720</td>
      <td>7.750</td>
      <td>1805960.0</td>
      <td>0.78384</td>
      <td>1.404330e+07</td>
      <td>26.862</td>
      <td>2.690</td>
      <td>4.487040e+05</td>
      <td>1.794816e+05</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>603998</td>
      <td>方盛制药</td>
      <td>2.487</td>
      <td>11.950</td>
      <td>11.570</td>
      <td>12.100</td>
      <td>11.570</td>
      <td>11.660</td>
      <td>2531654.0</td>
      <td>0.59541</td>
      <td>3.019175e+07</td>
      <td>74.688</td>
      <td>5.152</td>
      <td>5.149691e+05</td>
      <td>5.081101e+05</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>603997</td>
      <td>继峰股份</td>
      <td>0.091</td>
      <td>11.050</td>
      <td>11.080</td>
      <td>11.090</td>
      <td>10.760</td>
      <td>11.040</td>
      <td>3411340.0</td>
      <td>1.99494</td>
      <td>3.727855e+07</td>
      <td>18.729</td>
      <td>4.221</td>
      <td>6.961500e+05</td>
      <td>1.889550e+05</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>603996</td>
      <td>中新科技</td>
      <td>-0.447</td>
      <td>17.800</td>
      <td>17.900</td>
      <td>17.930</td>
      <td>17.680</td>
      <td>17.880</td>
      <td>2157961.0</td>
      <td>2.08953</td>
      <td>3.842472e+07</td>
      <td>45.641</td>
      <td>3.762</td>
      <td>5.342670e+05</td>
      <td>1.838295e+05</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>603993</td>
      <td>洛阳钼业</td>
      <td>-0.822</td>
      <td>7.240</td>
      <td>7.320</td>
      <td>7.400</td>
      <td>7.170</td>
      <td>7.300</td>
      <td>158468094.0</td>
      <td>1.22334</td>
      <td>1.149926e+09</td>
      <td>120.667</td>
      <td>4.195</td>
      <td>1.563785e+07</td>
      <td>9.378501e+06</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>603991</td>
      <td>至正股份</td>
      <td>0.000</td>
      <td>27.900</td>
      <td>27.910</td>
      <td>28.020</td>
      <td>27.640</td>
      <td>27.900</td>
      <td>328978.0</td>
      <td>1.75924</td>
      <td>9.165262e+06</td>
      <td>41.642</td>
      <td>4.685</td>
      <td>2.079526e+05</td>
      <td>5.217300e+04</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>603990</td>
      <td>麦迪科技</td>
      <td>-0.850</td>
      <td>38.500</td>
      <td>38.500</td>
      <td>39.370</td>
      <td>38.300</td>
      <td>38.830</td>
      <td>335400.0</td>
      <td>0.55648</td>
      <td>1.292641e+07</td>
      <td>51.333</td>
      <td>7.595</td>
      <td>3.115520e+05</td>
      <td>2.320472e+05</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
data1 = data1[1:3]
data1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>code</th>
      <th>name</th>
      <th>changepercent</th>
      <th>trade</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>settlement</th>
      <th>volume</th>
      <th>turnoverratio</th>
      <th>amount</th>
      <th>per</th>
      <th>pb</th>
      <th>mktcap</th>
      <th>nmc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3412</th>
      <td>3412</td>
      <td>900930</td>
      <td>*ST沪普B</td>
      <td>-1.289</td>
      <td>0.689</td>
      <td>0.70</td>
      <td>0.70</td>
      <td>0.688</td>
      <td>0.698</td>
      <td>131300.0</td>
      <td>0.10521</td>
      <td>90727.0</td>
      <td>-0.558</td>
      <td>0.423</td>
      <td>26335.325719</td>
      <td>8598.720000</td>
    </tr>
    <tr>
      <th>3413</th>
      <td>3413</td>
      <td>900921</td>
      <td>*ST丹科B</td>
      <td>0.000</td>
      <td>0.469</td>
      <td>0.47</td>
      <td>0.47</td>
      <td>0.463</td>
      <td>0.469</td>
      <td>127200.0</td>
      <td>0.06564</td>
      <td>59320.0</td>
      <td>-2.449</td>
      <td>0.247</td>
      <td>47674.986856</td>
      <td>9088.920121</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
data1.iloc[1:,3:]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>changepercent</th>
      <th>trade</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>settlement</th>
      <th>volume</th>
      <th>turnoverratio</th>
      <th>amount</th>
      <th>per</th>
      <th>pb</th>
      <th>mktcap</th>
      <th>nmc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3413</th>
      <td>0.0</td>
      <td>0.469</td>
      <td>0.47</td>
      <td>0.47</td>
      <td>0.463</td>
      <td>0.469</td>
      <td>127200.0</td>
      <td>0.06564</td>
      <td>59320.0</td>
      <td>-2.449</td>
      <td>0.247</td>
      <td>47674.986856</td>
      <td>9088.920121</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
# df.loc[df["a"]>5,df.loc["2017-08-15",:]>4]
data1.loc[data1["code"]>5]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>code</th>
      <th>name</th>
      <th>changepercent</th>
      <th>trade</th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>settlement</th>
      <th>volume</th>
      <th>turnoverratio</th>
      <th>amount</th>
      <th>per</th>
      <th>pb</th>
      <th>mktcap</th>
      <th>nmc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3412</th>
      <td>3412</td>
      <td>900930</td>
      <td>*ST沪普B</td>
      <td>-1.289</td>
      <td>0.689</td>
      <td>0.70</td>
      <td>0.70</td>
      <td>0.688</td>
      <td>0.698</td>
      <td>131300.0</td>
      <td>0.10521</td>
      <td>90727.0</td>
      <td>-0.558</td>
      <td>0.423</td>
      <td>26335.325719</td>
      <td>8598.720000</td>
    </tr>
    <tr>
      <th>3413</th>
      <td>3413</td>
      <td>900921</td>
      <td>*ST丹科B</td>
      <td>0.000</td>
      <td>0.469</td>
      <td>0.47</td>
      <td>0.47</td>
      <td>0.463</td>
      <td>0.469</td>
      <td>127200.0</td>
      <td>0.06564</td>
      <td>59320.0</td>
      <td>-2.449</td>
      <td>0.247</td>
      <td>47674.986856</td>
      <td>9088.920121</td>
    </tr>
  </tbody>
</table>
</div>